@import ../config/breakpoints
@import ../config/colors

.gov
  display: flex
  flex-direction: column
  align-items: center
  
.gov__header
  font-size: 32px
  font-weight: 300
  color: $color-brand
  margin-bottom: 60px

.gov__utils
  display: flex
  align-items: center
  justify-content: space-between
  width: 1068px
  max-width: 95%
  margin-bottom: 16px

.gov__proposal-button
  color: $color-brand
  font-size: 14px
  border-color: $color-brand
  border-radius: 50px
  background: white
  padding: 6px 12px
  border-width: 1px
  cursor: pointer
  transition: 0.2s color, 0.2s background

.gov__proposal-button:hover
  background: $color-brand
  color: white

.gov__checkboxes
  display: flex
  align-items: center

.gov__label
  font-size: 18px
  font-weight: 300
  margin-left: 16px
  margin-right: 4px
  padding-left: 24px
  position: relative
  cursor: pointer

.gov__checkbox
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

.gov__checkmark
  position: absolute
  top: 0
  left: 0
  height: 18px
  width: 18px
  border: 1px solid $color-brand
  cursor: pointer
  transition: 0.2s background

.gov__checkbox:checked ~ .gov__checkmark
  background: $color-brand

.gov__error
  text-align: center
  font-size: 32px
  margin-top: 32px