@import ../config/colors
@import ../config/breakpoints
  
.header
  display: flex
  flex-direction: column
  align-items: center
  margin: 38px 0
  +media($breakpoint-sm)
    margin: 24px 0
  
.header__primary
  font-size: 36px
  color: $color-black
  margin: 0
  margin-bottom: 8px
  text-align: center
  +media($breakpoint-md)
    font-size: 32px
  +media($breakpoint-sm)
    font-size: 28px

.header__secondary
  font-size: 22px
  color: $color-brand-dark
  margin: 0
  text-align: center
  +media($breakpoint-sm)
    font-size: 18px