@import ../config/breakpoints
@import ../config/colors
  
.hero
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  // 60px == nav.height
  height: calc(100vh - 120px)
  
.hero__header
  font-size: 32px
  margin-bottom: 16px
  font-weight: 300
  color: $color-brand

.hero__form
  display: flex
  flex-direction: column
  align-items: center

.hero__input
  text-align: center
  width: 415px
  border-radius: 10px
  border: 1px solid $color-grey
  padding: 8px
  font-size: 14px
  font-weight: 300
  font-family: Roboto
  margin: 2px

.hero__button
  font-size: 32px
  font-family: Roboto
  background-color: $color-brand
  color: white
  padding: 8px
  border-radius: 50px
  border: none
  width: 415px
  max-width: 90vw
  font-weight: 300 !important
  margin: 16px 0