@import ../config/breakpoints
  
.hero
  padding: 0 120px
  // 100px = nav height
  min-height: calc(100vh - 100px)
  +media($breakpoint-md)
    padding: 0 24px
  +media($breakpoint-sm)
    padding: 0 16px
  
.hero__forms
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 38px
  +media($breakpoint-lg)
    flex-direction: column
  +media($breakpoint-sm)
    margin-bottom: 24px

.hero__header
  font-size: 22px
  margin-bottom: 16px
