@import ../config/colors
@import ../config/breakpoints

.message
  color: $color-brand
  font-size: 14px
  border-radius: 50px
  border: 1px solid $color-brand
  background: white
  padding: 6px 12px
  text-decoration: none
  cursor: pointer
  transition: 0.2s background, 0.2s color

.message:hover
  background: $color-brand
  color: white